[submodule "_includes/bibliography"]
	path = _includes/bibliography
	url = https://github.com/sgroth/bibliography
[submodule "_includes/cv"]
	path = _includes/cv
	url = https://github.com/sgroth/cv-data
[submodule "_includes/teaching"]
	path = _includes/teaching
	url = https://github.com/sgroth/teaching
