<br /><br />
<ul class="is-size-7">
    <li class="has-text-weight-semibold has-text-primary">Anstehende Vorträge</li>
    <li class="has-text-weight-semibold">Berlin, Oktober 2020</li>
    <li>“Of ‘Truthiness’ and ‘Stickiness.’ Narratological Approaches to Plausibility and Communicabilty in Digital Truth-Making”. Tagung Digital Truth-Making (dgv-Kommission Digitization in Everyday Life).</li>
    <li>&nbsp;</li>
    <li class="has-text-weight-semibold">Kiel, November 2020</li>
    <li>“Alltag als Konstante der Erfahrung?”. Workshop: Erfahrung: Konzeptionen und Standortbestimmungen eines Schlüsselbegriffs der Europäischen Ethnologie.</li>
</ul>