<br /><br />
<ul class="is-size-7">
    <li class="has-text-weight-semibold has-text-primary">Anstehende Vorträge</li>
    <li class="has-text-weight-semibold">Lissabon, Juli 2020</li>
    <li>“Contesting ‘Truthiness’ and ‘Stickiness’: Narratological Approaches to Fact Checking, Counter-Narratives and Political Activism in Germany”. EASA-Kongress, Panel ‘Resisting Populism: Memes, Extreme Speech, and the Aesthetics of Affect and Defiance’.</li>
    <li>&nbsp;</li>
    <li class="has-text-weight-semibold">Berlin, Oktober 2020</li>
    <li>“Of ‘Truthiness’ and ‘Stickiness.’ Narratological Approaches to Plausibility and Communicabilty in Digital Truth-Making”. Tagung Digital Truth-Making (dgv-Kommission Digitization in Everyday Life).</li>
</ul>