<p class="title is-6 has-text-primary">Aktuelle Publikationen</p>
<p><b>Groth2021ab</b><br/>
{% reference Groth2021ab %} {% cite_details Groth2021ab %}</p>
<p><b>Groth2020aa</b><br/>
{% reference Groth2020aa %} {% cite_details Groth2020aa %}</p>
<p><b>Groth2020af</b><br/>
{% reference Groth2020af %} {% cite_details Groth2020af %}</p>
<p><b>Groth2020ag</b><br/>
{% reference Groth2020ag %} {% cite_details Groth2020ag %}</p>
<p><b>Groth2020ac</b><br/>
{% reference Groth2020ac %} {% cite_details Groth2020ac %}</p>
<p><b>Groth2020ad</b><br/>
{% reference Groth2020ad %} {% cite_details Groth2020ad %}</p>
<p><b>Groth2020ae</b><br/>
{% reference Groth2020ae %} {% cite_details Groth2020ae %}</p>
<p><b>Groth2019ao</b><br/>
{% reference Groth2019ao %} {% cite_details Groth2019ao %}</p>
<p><b>Groth2019aq</b><br/>
{% reference Groth2019aq %} {% cite_details Groth2019aq %}</p>
<p><b>Groth2019ar</b><br/>
{% reference Groth2019ar %} {% cite_details Groth2019ar %}</p>
