<p class="title is-6 has-text-danger">Aktuelle Publikationen (2019)</p>
<p><b>Groth2019ae</b><br>
{% reference Groth2019ae %} {% cite_details Groth2019ae %}</p>
<p><b>Groth2019al</b><br>
{% reference Groth2019al %} {% cite_details Groth2019al %}</p>
<p><b>Groth2019am</b><br>
{% reference Groth2019am %} {% cite_details Groth2019am %}</p>
<p><b>Groth2019ak</b><br>
{% reference Groth2019ak %} {% cite_details Groth2019ak %}</p>
<p><b>Groth2019aa</b><br>
{% reference Groth2019aa %} {% cite_details Groth2019aa %}</p>
<p><b>Groth2019ab</b><br>
{% reference Groth2019ab %} {% cite_details Groth2019ab %}</p>
<p><b>Groth2019ac</b><br>
{% reference Groth2019ac %} {% cite_details Groth2019ac %}</p>
<p><b>Groth2019ag</b><br>
{% reference Groth2019ag %} {% cite_details Groth2019ag %}</p>
<p><b>Groth2019ad</b><br>
{% reference Groth2019ad %} {% cite_details Groth2019ad %}</p>
<p><b>Groth2019ai</b><br>
{% reference Groth2019ai %} {% cite_details Groth2019ai %}</p>
<p><b>Groth2019ah</b><br>
{% reference Groth2019ah %} {% cite_details Groth2019ah %}</p>
