<footer class="footer has-text-centered container">
<a href="http://bulma.io" style="margin-top: 1rem;">
                <img src="{{ site.baseurl }}/assets/img/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
              </a>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/lib/main.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}
</script>

<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 350) {
                $('#menus').fadeIn(500);
            } else {
                $('#menus').fadeOut(500);
            }
        });
    });
})(jQuery);
</script>

</body>
</html>
