<footer class="footer has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p style="margin-top: 1rem;">
<!--                    <a href="http://bulma.io">
                        <img src="{{ '../assets/img/made-with-bulma.png' | absolute_url }}" alt="Made with Bulma" width="128" height="24">
                    </a>
-->
                </p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/lib/main.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}
</script>

<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 350) {
                $('#menus').fadeIn(500);
            } else {
                $('#menus').fadeOut(500);
            }
        });
    });
})(jQuery);
</script>

</body>
</html>
