<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="https://github.com/sgroth/">
        <title>{{ page.title | strip_html }} - Stefan Groth</title>
        <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">
        <link href="{{ 'assets/css/prism.css' | relative_url }}" rel="stylesheet" />
        <link href="{{ 'assets/fa/css/all.css' | relative_url }}" rel="stylesheet">
        <script src="{{ 'lib/prism.js' | relative_url }}"></script>
    </head>
    <body>
            <div class="container is-widescreen header">
